<div class="conatiner bg-primary text-white p-3">
  <div class="row">
    <div class="col-4">
      <h5>Talk with us</h5>
      <ul>
        <li><a href="#!">Contact Us</a></li>
        <li><a href="#!">Comments</a></li>
        <li><a href="#!">Chat with us</a></li>
      </ul>
    </div>
    <div class="col-4">
      <h5>¿What do we do?</h5>
      <ul>
        <li><a href="#!">xxxxxx</a></li>
        <li><a href="#!">xxxxx</a></li>
        <li><a href="#!">xxxxx</a></li>
      </ul>
    </div>
    <div class="col-4">
      <h5>Follow us on our social networks</h5>

      <ul class="row">
        <li class="col-3"><i class="fab fa-twitter"></i></li>
        <li class="col-3"><i class="fab fa-instagram"></i></li>
        <li class="col-3"><i class="fab fa-linkedin"></i></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <span class="col-2">Legal Warning</span>
    <span class="col-2">Privacity and Cookies</span>
    <span class="col-2">@Copyright</span>
  </div>
</div>
